<div class ="ui card">
  <div class="content">
    <p class="header"><i class="futbol outline icon"></i><%=@team.name%> </p> 
  </div>

  <div class="extra content">
    <%= link_to "Edit Team", edit_team_path(@team)%> |
    <%= link_to "Back", teams_path%> |
    <%#= link_to "View", team_player_path(@team)%>

  </div>
</div>